doctype html5
html
	head
		title= title

		link(rel='stylesheet', href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script(type='text/javascript', src='/nowjs/now.js')
		script(type='text/javascript', src='/javascripts/admin.js')

	body
		.container
			h1 Admin: Select Dropbox folder
			if !isDropboxConnected
				a.btn.btn-primary(href='/auth/dropbox') Connect with Dropbox
			else
				select#folders(multiple class="form-control")
					for folder in folders
						option #{folder}
				br
				button#selectfolder.btn.btn-primary Select Folder
			br
			| Selected folder: <span id='selectedfolder'> #{selectedfolder}


